<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Icmr.Samples.Integration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <uri>
    <schemeSettings>
      <add name="http" genericUriParserOptions="DontUnescapePathDotsAndSlashes"/>
      <add name="https" genericUriParserOptions="DontUnescapePathDotsAndSlashes"/>
    </schemeSettings>
  </uri>
  <userSettings>
    <Icmr.Samples.Integration.Properties.Settings>
      <setting name="dpatRoot" serializeAs="String">
        <value>./downloads/</value>
      </setting>
      <setting name="kid" serializeAs="String">
        <value>gqdfrYj0o9uIIiIS7ZhLuQ</value>
      </setting>
      <setting name="shs" serializeAs="String">
        <value>vjISm4YH-7AwxeIUd-SmfvZ9h6189brYUW7NKng7DC8</value>
      </setting>
      <setting name="loglevel" serializeAs="String">
        <value>VERBOSE</value>
      </setting>
      <setting name="copid" serializeAs="String">
        <value>dev</value>
      </setting>
      <setting name="iepn" serializeAs="String">
        <value>dub</value>
      </setting>
      <setting name="url" serializeAs="String">
        <value>http://localhost:8080/v3/igr/</value>
      </setting>
    </Icmr.Samples.Integration.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
